<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    {# <a class="sidebar-brand d-flex align-items-center justify-content-center"> #}
        <div class="logo-sidebar x-auto ">
        <img src="/assets/img/logo.webp" class="w-75 logo">
        </div>
    {# </a> #}

    {# <hr class="sidebar-divider my-0"> #}

    {% if not app.user  %}

    <li class="nav-item">
    <a class="nav-link itemSidebar" href="{{ path('app_login') }}">
            <i class="fa-solid fa-fw "></i>
            <span class="spansidebar">Connexion</span>
        </a> 
    </li>

    <li class="nav-item">
    <a class="nav-link itemSidebar" href="{{ path('app_client_new') }}">
            <i class="fa-solid fa-fw "></i>
            <span class="spansidebar">S'inscrire</span>
        </a> 
    </li>

    {% endif %}

    <li class="nav-item">
        
        {% if app.user %}

        <a class="nav-link itemSidebar1" href="{{ path('app_home') }}">
            <i class="fa-solid fa-fw "></i>
            <span class="spansidebar">Accueil</span>
        </a>

        {% if is_granted('ROLE_TECHNICIEN') %}
        <a class="nav-link itemSidebar" href="{{ path('app_ct_a_faire') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">CT à faire</span></a>
        
        <a class="nav-link itemSidebar" href="{{ path('app_ct_index' , {'id': app.user.id}) }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Mes CTs</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_technicien_edit', {'id': app.user.id}) }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar"> Mon Profil</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_ct_new') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">RDV pour un client</span></a>

        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <a class="nav-link itemSidebar" href="{{ path('app_ct_tous') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Tout les CTs</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_technicien_index') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Liste des Techniciens</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_client_index') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Liste des clients</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_moto_index') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Liste des Motos</span></a>
        {% endif %}

        {% if is_granted('ROLE_CLIENT')  %}
        <a class="nav-link itemSidebar" href="{{ path('app_moto_index' , {'id': app.user.id}) }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Mon Garage</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_ct_new') }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Prendre RDV</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_client_edit', {'id': app.user.id}) }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Mon Profil</span></a>

        <a class="nav-link itemSidebar" href="{{ path('app_ct_index' , {'id': app.user.id}) }}">
        <i class="fa-solid fa-fw "></i>
        <span class="spansidebar">Mes CTs</span></a>
        {% endif %}

    </li>
    {% endif %}

    
</ul>