<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-wrench-adjustable-circle"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EasyCheckMoto</div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item">
    <a class="nav-link" href="{{ path('app_login') }}">
            <i class="fa-solid fa-fw "></i>
            <span>Connexion</span>
        </a>

        
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_home') }}">
            <i class="fa-solid fa-fw "></i>
            <span>Accueil</span>
        </a>
        {% if app.user %}
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fa-solid fa-fw "></i>
            <span>Deconnexion</span>
        </a>
        {% endif %}
    </li>


    <hr class="sidebar-divider">
    
    {% if is_granted('ROLE_ADMIN') %}
       <li class="nav-item">
        <a class="nav-link" href="{{ path('app_technicien_index') }}"><span>Techniciens</span></a>
    </li> 
    {% endif %}

    {% if is_granted('ROLE_TECHNICIEN') %}
       <li class="nav-item">
        {# <a class="nav-link" href="{{ path('app_technicien_edit') }}"><span>Profil</span></a> #}
    </li> 
    {% endif %}
    
    {% if is_granted('ROLE_CLIENT') %}
       <li class="nav-item">
        <a class="nav-link" href="{{ path('app_client_edit', {'id': app.user.id}) }}"><span>Mon profil</span></a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_moto_index' , {'id': app.user.id}) }}"><span>Mes Motos</span></a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_ct_index' , {'id': app.user.id}) }}"><span>Mes Controles techniques</span></a>
    </li>
    {% endif %}
    
    <li class="nav-item">
        {# <a class="nav-link" href="{{ path('account_commentaire_index') }}"><span>Commentaires</span></a> #}
    </li>

    <hr class="sidebar-divider d-none d-md-block">
    
    <li class="nav-item">
        {# <a class="nav-link" href="{{ path('account_user_edit') }}"><span>Mon profil</span></a> #}
    </li>

    {% if is_granted('ROLE_TECHNICIEN') %}
    <li class="nav-item">
        {# <a class="nav-link" href="{{ path('app_technicien_logout') }}"><span>Déconnexion</span></a> #}
    </li>
     {% endif %}
    <li class="nav-item">
        {# <a class="nav-link" href="{{ path('technicien_login') }}"><span>Administrateur</span></a> #}
    </li>

    {# <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li> #}

</ul>
<!-- End of Sidebar -->