{% extends 'base.html.twig' %}

{# {% block title %}CT index{% endblock %} #}

{% block body %}
    <h1>Contôle Technique :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for ct in cts %}
            <tr>
                <td>{{ ct.debut ? ct.debut|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ ct.fin ? ct.fin|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    {% if ct.cteffectue == true %}
                    <a href="{{ path('app_ct_show', {'id': ct.id}) }}">Voir</a>
                    {% endif %}
                    
                    {% if ct.cteffectue == false %}
                    <a href="{{ path('app_ct_edit', {'id': ct.id}) }}">Effectuer</a>
                    {% endif %}
                </td>
            </tr>
        {# {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr> #}
        {% endfor %}
        
        </tbody>
    </table>

    {# <a href="{{ path('app_ct_new') }}">Create new</a> #}
{% endblock %}
