{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Debut</th>
                <td>{{ ct.debut ? ct.debut|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ ct.fin ? ct.fin|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Freinage</th>
                <td>{{ ct.freinage ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Direction</th>
                <td>{{ ct.direction ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Visibilite</th>
                <td>{{ ct.visibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Eclairage_signalisation</th>
                <td>{{ ct.eclairageSignalisation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pneumatique</th>
                <td>{{ ct.pneumatique ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Carrosserie</th>
                <td>{{ ct.carrosserie ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Mecanique</th>
                <td>{{ ct.mecanique ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Equipement</th>
                <td>{{ ct.equipement ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Pollution</th>
                <td>{{ ct.pollution ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Niveau_sonore</th>
                <td>{{ ct.niveauSonore ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Moto_is_ok</th>
                <td>{{ ct.motoIsOk ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CT effectué</th>
                <td>{{ ct.cteffectue }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ ct.commentaires }}</td>
            </tr>
        </tbody>
    </table>
    
    {% if is_granted('ROLE_TECHNICIEN') %}
   
    {% if ct.cteffectue == 0 %}
    <a href="{{ path('app_ct_edit', {'id': ct.id}) }}">edit</a></br>
    {% endif %}
    
    <a href="{{ path('app_ct_index' , {'id': app.user.id})}}">Retour à la liste</a>
    {% endif %}

   {% if is_granted('ROLE_CLIENT') %}
    <a href="{{ path('app_ct_index' , {'id': app.user.id})}}">Retour à la liste</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    {{ include('ct/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
