{% extends 'base.html.twig' %}


{% block body %}
    <h1>Techniciens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technicien in techniciens %}
            <tr>
                <td>{{ technicien.username }}</td>
                <td>{{ technicien.name }}</td>
                <td>{{ technicien.firstname }}</td>
                <td>
                    <a href="{{ path('app_technicien_show', {'id': technicien.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_technicien_new') }}">Create new</a>
{% endblock %}
