{% extends 'base.html.twig' %}


{% block body %}
    <h1>Clients</h1>

    <table class="table tableclient ">
        <thead>
        {# TODO
        <input type="search" class="" id="datatable-search-input">
        <label class="form-label" for="datatable-search-input">Search</label> #}
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a></br>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
