{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modele</th>
                <th>Cylindree</th>
                <th>Annee</th>
                <th>Immatriculation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moto in motos %}
            <tr>
                
                <td>{{ moto.marque }}</td>
                <td>{{ moto.modele }}</td>
                <td>{{ moto.cylindree }}</td>
                <td>{{ moto.annee }}</td>
                <td>{{ moto.immatriculation }}</td>
                <td>
                    {% if is_granted ('ROLE_ADMIN') %}
                    <a href="{{ path('app_moto_show', {'id': moto.id}) }}">Voir</a></br>
                    {% endif %}
                    {% if is_granted ('ROLE_CLIENT') %}
                    <a href="{{ path('app_moto_edit', {'id': moto.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_moto_delete', {'id': moto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moto.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Votre garage est vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_moto_new') }}">Ajouter une moto</a>
{% endblock %}
