{% extends 'base.html.twig' %}

{# {% block title %}Home Page{% endblock %} #}

{% block body %}

<h1>
    {% if app.user %}
        Bonjour,
    {% endif %}

    {% if is_granted('ROLE_TECHNICIEN') %}
        {{ app.user.firstname }}  {{ app.user.name }}
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
       {{ app.user.firstname }}  {{ app.user.name }}
    {% endif %}
</h1>

{% if not app.user  %}

<div class="container p-home">
    <div class="d-flex flex-row">
        <div class="tarif ">
        <h3> Tarif: </h3></br>
        <h4> - Contrôle technique: 59,90€ </h4></br>
        <h4> - Contre visite: 19,90€ </h4>
        </div>
        <div class="p-2 calendar">
        <h3> Disponibilités: </h3></br>
        <div id='calendar'></div>
        </div>
    </div>

{% endif %}

</div>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>

<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                //plugins: ['timeGrid', 'interaction'],
                defaultView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridWeek,timeGridDay,dayGridMonth'
                },
                allDaySlot: false, // Enlève la ligne "All Day"
                slotMinTime: '09:00:00', // Heure de début
                slotMaxTime: '19:00:00', // Heure de fin
                nowIndicator: true, // Indicateur pour l'heure actuelle
                businessHours: { // Paramètres des heures de travail
                    startTime: '09:00',
                    endTime: '12:00',
                   daysOfWeek: [1, 2, 3, 4, 5] // Du lundi au vendredi
                },
                locale: 'fr',
                timeZone: 'Europe/Paris',
                editable: true,
                eventSources: [
                    {
                       url: "{{ path('fc_load_events') }}",
                       method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ], 
            });
            calendar.render();
        });
    </script>
{% endblock %}

{% endblock %}