{% extends 'base.html.twig' %}

{# {% block title %}Home Page{% endblock %} #}

{% block body %}
<h3>
    {% if app.user %}
        Bonjour,
    {% endif %}

    {% if is_granted('ROLE_TECHNICIEN') %}
        {{ app.user.firstname }}  {{ app.user.name }}
    {% endif %}

    {% if is_granted('ROLE_CLIENT') %}
       {{ app.user.firstname }}  {{ app.user.name }}
    {% endif %}
</h3>
<div class="col-6 m-auto">
<div class="card card-secondary">
<div class="card-body p-12">
<div id='calendar' ></div>
</div>
</div>
</div>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>

<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            let calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                //plugins: ['timeGrid', 'interaction'],
                defaultView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridWeek,timeGridDay,dayGridMonth'
                },
                allDaySlot: false, // Enlève la ligne "All Day"
                slotMinTime: '09:00:00', // Heure de début
                slotMaxTime: '19:00:00', // Heure de fin
                nowIndicator: true, // Indicateur pour l'heure actuelle
                businessHours: { // Paramètres des heures de travail
                    startTime: '09:00',
                    endTime: '12:00',
                   daysOfWeek: [1, 2, 3, 4, 5] // Du lundi au vendredi
                },
                locale: 'fr',
                timeZone: 'Europe/Paris',
                editable: true,
                eventSources: [
                    {
                       url: "{{ path('fc_load_events') }}",
                       method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ], 
            });
            calendar.render();
        });
    </script>
{% endblock %}

{% endblock %}